@import "https://fonts.googleapis.com/css?family=Poppins";

$font: Poppins, sans-serif;
$primary-colour: #d1f7ff;
// $secondary-colour:
// $tertiary-colour:

@mixin align-sidebar-elements {
  display: flex;
  align-items: center;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: $font;
}

#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: clamp(210px, 25%, 300px) 3fr; // TODO: icons only on mobile //
  grid-template-rows: 1fr 6fr; 
  grid-template-areas: 
    "sidebar banner"
    "sidebar content";
}

#sidebar {
  grid-area: sidebar;
  background-color: $primary-colour;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: 
    "logo"
    "menu";
  .logo {
    grid-area: logo;
    @include align-sidebar-elements;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    i {
      margin: 32px 13px 0 14px;
    }
  }
  #menu {
    grid-area: menu;
    .tab {
      @include align-sidebar-elements;
      display: grid;
      grid-template-columns: 60px auto;
      margin-bottom: 20px;
      i {
        display: flex;
        justify-content: center;
      }
      h3 {
        margin: 0;
        display: flex;
        justify-content: flex-start;
      }
    }
    #menu-first {
      margin-bottom: 60px;
    }
  }
}

